<!DOCTYPE html>
<html lang="es">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Prueba</title>
</head>
<body>
    <h1>Hola,{{user.username}}</h1>
    <p>Tu dinero:{{user.balance}}</p>
    <p>Crear-------------------------------</p>
    <div>
        <a href="/crearcuenta">Crear cuenta</a>
        <a href="/crearingreso">Crear ingreso</a>
        <a href="/crearservicio">Crear servicio</a>
        <a href="/crearprestamo">Crear prestamo</a>
        <a href="/crearingresoprogramado">Crear ingreso programados</a>
    </div>
    <p>Crear-------------------------------</p>
    <p>Ver----------------------------------</p>
        <a href="/vercuentas">Ver cuenta</a>
        <a href="/veringresos">Ver ingresos</a>
        <a href="/verservicios">Ver servicios</a>
        <a href="/verprestamos">Ver prestamos</a>
        <a href="/veringresosprogramados">Ver ingresos programados</a>
        <a href="/resumefinanciero">Ver resumen</a>
        <a href="/pagoprestamo">Pago prestamo</a>
        <a href="/pagoservicio">Pagar servicio</a>
        <a href="/recibiringresoprogramado">Registra que un ingreso</a>

    <p>Ver----------------------------------</p>


    <p>Extra---------------------------------</p>
    <a href="/solicitud_cambio_clave">Cambiar clave</a>
    <a href="/solicitud_cambio_email">Cambiar email</a>
    <a href="/Cambiar_correo">Cambiar correo</a>
    <a href="/cerrar_sesion">Cerrrar sesion</a>
    <p>Extra---------------------------------</p>

    <p>Actualizar------------------------------------</p>
        <a href="/actualizaringresoprogramado">Actualizar ingreso programado</a>
        <a href="/actualizar_cuenta">Actualizar cuenta</a>
        <a href="/actualizar_ingreso">Actualizar ingreso</a>
        <a href="/actualizar_prestamo">Actualizar prestamo</a>
        <a href="/actualizar_servicio">Actualizar servicio</a>
    <p>Actualizar------------------------------------</p>
</body>
</html>