{% extends "base.html" %}

{% block title %}Mis Ingresos{% endblock %}

{% block head %}
<meta name="csrf-token" content="{{ csrf_token }}">
<link rel="stylesheet" href="{{url_for('static',filename='auth/css/viewscheduledincomes.css')}}">
{% endblock %}

{% block content %}
<div class="incomes-section">
    <h1 class="mb-4">Mis Ingresos programados</h1>

    <div class="add-income-btn">
        <i class="fas fa-plus-circle mr-2"></i>Agregar Ingreso
    </div>

    <!-- Income Form -->
    <div id="income-form-containers" class="form-container">
        <form action="{{ url_for('create_functions.crear_ingreso_programado') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group mb-2">
                {{ form.nombre.label(class="form-label") }}
                {{ form.nombre(class="form-control", placeholder="Ej: Alquiler, Suscripción, etc.") }}
                <small class="form-text text-muted">Nombre identificatorio para el ingreso programado.</small>
            </div>
            <div class="form-group mb-2">
                {{ form.monto.label(class="form-label") }}
                {{ form.monto(class="form-control", placeholder="Monto a recibir (solo números)") }}
            </div>
            <div class="form-group mb-2">
                {{ form.descripcion.label(class="form-label") }}
                {{ form.descripcion(class="form-control", placeholder="Descripción breve (opcional)") }}
            </div>
            <div class="form-group mb-2">
                {{ form.categoria.label(class="form-label") }}
                <div class="radio-group">
                    {% for subfield in form.categoria %}
                        <div class="form-check form-check-inline">
                            {{ subfield(class="form-check-input") }}
                            <label class="form-check-label" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        </div>
                    {% endfor %}
                </div>
                <small class="form-text text-muted">Selecciona la categoría que mejor describa el ingreso.</small>
            </div>
            <div class="form-group mb-2">
                {{ form.proximo_pago.label(class="form-label") }}
                {{ form.proximo_pago(class="form-control", placeholder="Próxima fecha de cobro") }}
            </div>
            <div class="form-group mb-2">
                <label for="cuenta" class="form-label">Cuenta asociada</label>
                <select name="cuenta" class="form-select">
                    {% for account in accounts %}
                        <option value="{{account.id}}">{{account.account_name}}</option>
                    {% endfor %}
                </select>
            </div>
            {% if accounts %}
                <div class="form-group mt-3">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            {% else %}
                <p>Para crear un ingreso programado necesitas una cuenta</p>
            {% endif %}
        </form>
    </div>

    {% if incomes %}
        <div class="table-responsive">
            <table class="income-table">
                <thead>
                    <tr>
                        <th>Nombre del Ingreso</th>
                        <th>Monto</th>
                        <th>Siguiente ingreso</th>
                        <th>Descripcion</th>
                        <th>Categoria</th>
                        <th>Monto recibido</th>
                        <th>Monto pendiente</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for income in incomes %}
                        <tr>
                            <td data-label="Nombre del Ingreso">{{ income.income_name }}</td>
                            <td data-label="Monto">${{ income.amount }}</td>
                            <td data-label="Siguiente ingreso">{{ income.next_income }}</td>
                            <td data-label="Descripcion">{{ income.description }}</td>
                            <td data-label="Categoria">{{ income.category }}</td>
                            <td data-label="Monto recibido">{{ income.received_amount }}</td>
                            <td data-label="Monto pendiente">{{ income.pending_amount }}</td>
                            <td data-label="Acciones">
                                {% if income.received_amount == income.amount %}
                                    <div class="badge bg-success text-white">Pagos recibidos</div>
                                {% else %}
                                    <div class="dropdown position-relative">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-boundary="viewport">
                                            ⋮
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end position-absolute">
                                            <li>
                                                <a class="dropdown-item" href="{{ url_for('update_functions.recibir_ingreso_programado') }}">
                                                    <i class="fas fa-check-circle"></i> Registrar pago
                                                </a>
                                            </li>
                                            <li>
                                                <form action="{{ url_for('extra_functions.borrar_ingresoprogramado', id=income.id) }}" method="POST">
                                                    <button type="submit" class="dropdown-item text-danger">
                                                        <i class="fas fa-trash-alt"></i> Borrar
                                                    </button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                {% endif %}
                            </td>
                            

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No tienes ingresos registrados.</p>
    {% endif %}
</div>
{% endblock %}