{% extends "base.html" %}

{% block title %}Mis Servicios{% endblock %}

{% block head %}
<meta name="csrf-token" content="{{ csrf_token }}">
<link rel="stylesheet" href="{{url_for('static',filename='auth/css/viewservices.css')}}">
{% endblock %}

{% block content %}
<div class="services-section">
    <h1 class="mb-4">Pagos del servicio</h1>
    {% if payments %}
        <div class="table-responsive">
            <table class="service-table">
                <thead>
                    <tr>
                        <th>Monto</th>
                        <th>Descripcion</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in payments %}
                        <tr>
                            <td data-label="Monto">{{ payment.amount }}</td>
                            <td data-label="Fecha">{{ payment.date }}</td>
                            {% if payment.description == None %}
                                <td data-label="Descripcion"></td>
                            {% else %}
                                <td data-label="Descripción">{{ payment.description }}</td>
                            {% endif %}

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No tienes pagos registrados.</p>
    {% endif %}

</div>
{% endblock %}