{% extends "base.html" %}

{% block title %}Mis Servicios{% endblock %}

{% block head %}
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block content %}
<div class="services-section">
    <h1 class="mb-4">Mis Servicios</h1>

    <div class="add-service-btn">
        <i class="fas fa-plus-circle mr-2"></i>Agregar Servicio
    </div>

    <!-- Service Form -->
    <div id="serviceForm" class="form-container d-none">
        <form action="{{ url_for('create_functions.crear_servicio') }}" method="POST">

            {{form.hidden_tag()}}
            <div class="form-group">
                {{form.nombre.label(for="service_name")}}
                {{form.nombre(id="service_name")}}
            </div>
            <div class="form-group">
                {{form.descripcion.label(for="description")}}
                {{form.descripcion(id="description")}}
            </div>
            <div class="form-group">
                {{form.fecha_vencimiento.label(for="date")}}
                {{form.fecha_vencimiento(id="date")}}
            </div>
            <div class="form-group">
                {{form.categoria.label(for="category")}}
                <div class="radio-group">
                    {% for subfield in form.categoria %}
                        <label for="{{ subfield.id }}">
                            {{ subfield() }} {{ subfield.label.text }}
                        </label>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                {{form.precio.label(for="price")}}
                {{form.precio(id="price")}}
            </div>
            <div class="form-group">
                <label for="">Cuenta asociada</label>
                <select name="cuenta" class="custom-select">
                    {% for account in accounts %}
                        <option value="{{account.id}}">{{account.account_name}}</option>
                    {% endfor %}
                </select>
                {% if accounts %}
                    <div class="form-group">
                        {{ form.submit() }}
                    </div> 
                {% else %}
                    <div class="form-group-message">
                        <p>Necesitas una cuenta para crear un servicio</p>
                    </div> 
                {% endif %}

            </div>
 
        </form>
    </div>

    {% if services %}
        <div class="table-responsive">
            <table class="service-table">
                <thead>
                    <tr>
                        <th>Nombre del Servicio</th>
                        <th>Descripción</th>
                        <th>Fecha</th>
                        <th>Categoría</th>
                        <th>Precio</th>
                        <th>Saldo Pendiente</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in services %}
                        <tr>
                            <td data-label="Nombre del Servicio">{{ service.service_name }}</td>
                            <td data-label="Descripción">{{ service.description }}</td>
                            <td data-label="Fecha">{{ service.date }}</td>
                            <td data-label="Categoría">{{ service.category }}</td>
                            <td data-label="Precio">${{ service.price }}</td>
                            <td data-label="Saldo Pendiente">${{ service.reamining_price }}</td>
                            <td data-label="Acción">
                                {% if service.remaining_price == 0 %}
                                    <div class="badge bg-success text-white">Pagado</div>
                                {% endif %}
                            
                                <div class="dropdown position-relative">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" 
                                        data-bs-toggle="dropdown" aria-expanded="false"
                                        data-bs-boundary="viewport">
                                         ⋮
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end position-absolute">
                                        {% if service.reamining_price > 0 %}
                                            <li>
                                                <a class="dropdown-item" href="{{ url_for('create_functions.pago_servicio') }}">
                                                    <i class="fas fa-money-bill-wave"></i> Pagar
                                                </a>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <form action="{{ url_for('extra_functions.borrar_servicio', id=service.id) }}" method="POST" data-confirm-eliminar data-nombre-cuenta="{{ service.service_name }}">
                                                <button type="submit" class="dropdown-item text-danger">
                                                    <i class="fas fa-trash-alt"></i> Borrar
                                                </button>
                                            </form>
                                        </li>
                                        <li>
                                            <form action="{{ url_for('auth_bp.obtener_pago_servicios', id=service.id) }}" method="POST">
                                                <button type="submit" class="dropdown-item">
                                                    <i class="fas fa-list"></i> Pagos
                                                </button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No tienes servicios activos.</p>
    {% endif %}
</div>

{% endblock %}