Flask
gunicorn
Flask-SQLAlchemy
Flask-Migrate
psycopg2-binary
python-dotenv
alembic
itsdangerous
Werkzeug
WTForms

# --- Solo si los usas para formularios y login ---
Flask-Login
Flask-WTF

# --- Solo si los usas para la API de Google ---
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# --- Solo si la usas para tareas programadas ---
Flask-APScheduler
