<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar mi correo electrónico</title>
</head>
<body>
    <h1>Cambiar email</h1>
    <form action="" method="POST">
        {{form.hidden_tag()}}
        <div class="form-group mb-2">
            {{form.email.label(class="form-label")}}
            {{form.email(class="form-control", placeholder="Nuevo correo electrónico")}}
            <small class="form-text text-muted">Introduce tu nuevo correo electrónico.</small>
        </div>
        <div class="form-group mb-2">
            {{form.confirmar.label(class="form-label")}}
            {{form.confirmar(class="form-control", placeholder="Confirma tu nuevo correo")}}
            <small class="form-text text-muted">Vuelve a escribir el nuevo correo para confirmar.</small>
        </div>
        <div class="form-group mt-3">
            {{form.submit(class="btn btn-primary")}}
        </div>
    </form>
</body>
</html>