<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud de Cambio de Contraseña</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h1>Cambiar contraseña</h1>
    <form action="" method="POST">
        {{form.hidden_tag()}}
        <div class="form-group mb-2">
            {{form.clave.label(class="form-label")}} 
            {{form.clave(class="form-control", placeholder="Nueva contraseña")}} 
            <small class="form-text text-muted">Introduce tu nueva contraseña. Debe ser segura y fácil de recordar.</small>
        </div>
        <div class="form-group mb-2">
            {{form.confirmar.label(class="form-label")}} 
            {{form.confirmar(class="form-control", placeholder="Confirma la nueva contraseña")}} 
            <small class="form-text text-muted">Vuelve a escribir la nueva contraseña para confirmar.</small>
        </div>
        <div class="form-group mt-3">
            {{form.submit(class="btn btn-primary")}} 
        </div>
    </form>
</body>
</html>