<!DOCTYPE html>
<html lang="es">
{% extends 'base.html' %}

{% block title %}Crear Prestamo{% endblock %}

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Crear Préstamo</title>
</head>
<body>
    <form action="" method="POST">
        {{form.hidden_tag()}}
        {{form.nombre.label()}}
        {{form.nombre()}}
        {{form.titular.label()}}
        {{form.titular()}}  
        {{form.precio.label()}}
        {{form.precio()}} 
        {{form.cuota.label()}}
        {{form.cuota()}}      
        {{form.tea.label()}}
        {{form.tea()}}   
        {{form.fecha_vencimiento.label()}}
        {{form.fecha_vencimiento()}} 
        <select name="cuenta">
            {% for account in accounts %}
                <option value="{{account.id}}">{{account.account_name}}</option>
            {% endfor %}
        </select>
        {% if accounts %}
            {{form.submit()}}
        {% else %}
            <p>Para crear una préstamo necesitas una cuenta</p>
        {% endif %}
    </form>
</body>
</html>