<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Préstamo</title>
    <script src="{{url_for('static',filename='js/update/update_loan.js')}}" defer></script>
</head>
<body>
    <form action="" method="POST">
        {{form.hidden_tag()}}
        {{form.nombre.label()}}
        {{form.nombre(id="name")}}
        {{form.titular.label()}}
        {{form.titular(id="holder")}}  
        {{form.precio.label()}}
        {{form.precio(id="price")}} 
        {{form.cuota.label()}}
        {{form.cuota(id="quota")}}      
        {{form.tea.label()}}
        {{form.tea(id="tea")}}   
        {{form.fecha_vencimiento.label()}}
        {{form.fecha_vencimiento(id="expiration_date")}} 
        <select name="loan" id="loan_object">
            {% for loan in loans %}
                <option value="{{loan.id}}">{{loan.loan_name}}</option>
            {% endfor %}
        </select>
        {% if loans %}
            {{form.submit()}}
        {% else %}
            <p>No tienes préstamos que actualizar</p>
        {% endif %}
    </form>
</body>
</html>